.call-to-action {
  background: $color-call-to-action;
  border-radius: 4px;
  color: $color-call-to-action-text;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-family: 'Londrina Solid', sans-serif;
  padding: $spacing-base $spacing-double;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.2s;
  @media #{$media-enhanced} {
    font-size: $font-size-double;
  }

  &:hover {
    background: $color-call-to-action-active;
    color: $color-call-to-action-text;
    transform: scale(1.05);
  }
}

.call-to-action--larger-mb {
  padding: $spacing-base 5rem;
  @media #{$media-enhanced} {
    padding: $spacing-base $spacing-double;
  }
}
