.contact-button {
  background: $green;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: $font-size-base;
  font-family: 'Londrina Solid', sans-serif;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  @media #{$media-enhanced} {
    font-size: $font-size-double;
  }
}