.doormat {
  background-size: cover;
  background-position: center;
  @include gradientVertical4(#a09a7f, #808a51, #8d8964, #95896d);
  background-image: url("img/header.jpg");
  height: 40vh;

  @media #{$media-enhanced} {
    height: 60vh;
  }
}