.gallery {
  margin: $spacing-base auto;
  max-width: 100%;
  width: $gallery-width;
}

/* overriding image-gallery style */

.image-gallery-left-nav,
.image-gallery-right-nav {
  height: 100%;
  &:hover:before {
    color: $color-link-active !important;
  }
}

.image-gallery-description {
  background: none !important;
  bottom: 0 !important;
  color: inherit !important;
  display: block !important;
  font-style: italic;
  position: relative !important;

  .en & {
    // no english description at the moment, so just hide everything
    display: none !important;
  }
}

.image-gallery-image {
  text-align: center;
}

.image-gallery-slide img  {
  max-width: 100%;
  width: auto !important;
}

.image-gallery-thumbnail.active {
  border-color: $color-link-active !important;
}
