
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $page-padding;

  @media #{$media-enhanced} {
    flex-direction: row;
    height: $header-height-en;
    padding: $page-padding $page-h-padding-en;
  }
}

.header__logo {
  $logo-size: 20rem;
  $logo-size-en: $header-height-en - 2 * $spacing-base;

  background: url("#{$assetPath}/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("#{$assetPath}/logo_mb.svg"), none;
  flex: 0 0 $logo-size;
  height: $logo-size;
  width: $logo-size;
  max-width: 100%;

  @media #{$media-enhanced} {
    flex: 0 0 $logo-size-en;
    height: $logo-size-en;
  }
}

.header__title {
  flex: 1 1 auto;
  font-family: 'Londrina Solid', sans-serif;
  font-size: $font-size-double;
  padding: 0 $page-padding;
  text-decoration: none;
  text-transform: uppercase;

  @media #{$media-enhanced} {
    font-size: $font-size-triple;
  }
}

.header__name {
  color: $color-title;
  display: block;
}

.header__name--variant {
  color: $color-title-variant;
}

.header__contact {
  flex: 1 0 auto;
  margin-top: $spacing-base;
  text-align: right;
  @media #{$media-enhanced} {
    margin: 0;
  }
}
