$header-height: 6rem;
$header-height-en: 12rem;

.header {
  align-items: center;
  display: flex;
  height: $header-height;
  padding: $page-padding;

  @media #{$media-enhanced} {
    height: $header-height-en;
    padding: $page-padding $page-h-padding-en;
  }
}

.header__logo {
  background-size: $header-height;
  background-position: center;
  background-image: url("#{$assetPath}/logo.png");
  flex: 0 0 $header-height;
  height: $header-height;

  @media #{$media-enhanced} {
    background-size: $header-height-en;
    flex: 0 0 $header-height-en;
    height: $header-height-en;
  }
}

.header__title {
  color: $column-title-color;
  flex: 1 1 auto;
  font-family: 'Londrina Solid', sans-serif;
  font-size: $font-size-double;
  padding: 0 $page-padding;
  text-transform: uppercase;

  @media #{$media-enhanced} {
    font-size: $font-size-triple;
  }
}

.header__name {
  display: inline-block;
}

.header__calltoaction {
  padding: 1rem 3rem;
  border-radius: 4px;
  font-size: $font-size-base;
  background: green;
  color: white;
  font-family: 'Londrina Solid', sans-serif;
  text-transform: uppercase;
  @media #{$media-enhanced} {
    font-size: $font-size-double;
  }
}