$l-spacing: $page-padding / 2;

.l-row {
  padding: $l-spacing;
  display: flex;
  flex-direction: column;

  @media #{$media-enhanced} {
    flex-direction: row;
    padding: $l-spacing $page-h-padding-en;
  }
}

.l-row__col {
  padding: $l-spacing;
  @media #{$media-enhanced} {
    flex: 0 1 50%;
  }
}

/*
 Vertical Layout:
 flexel is the flexible element
 fixel is the fixed element
 */
.l-vl {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.l-vl--page {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.l-vl__flexel {
  flex: 1 1 100%;
}

.l-vl__fixel {
  flex: 0 0 auto;
}
