$l-spacing: $page-padding / 2;

.l-row {
  padding: $l-spacing;
  display: flex;
  flex-direction: column;

  @media #{$media-enhanced} {
    flex-direction: row;
    padding: $l-spacing $page-h-padding-en;
  }
}

.l-row__col {
  padding: $l-spacing;
  @media #{$media-enhanced} {
    flex: 0 1 50%;
  }
}

@media #{$media-enhanced} {
  .l-main {
    height: calc(100vh - #{$header-height-en});
  }
}
