@import "reset";

@import url('https://fonts.googleapis.com/css?family=PT+Serif|Londrina+Solid');

html {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}

$assetPath: "../../img";

$red: #be1b31;
$flag-red: #ee3035;
$orange: #faae56;
$yellow: #ece755;
$green: #0a8a4d;
$brown: #4d2b15;
$white: #fff;
$black: #000;

$spacing-base: 1rem;
$spacing-half: 0.5 * $spacing-base;
$spacing-double: 2 * $spacing-base;

$font-size-base: 1rem;
$font-size-half: 0.5 * $font-size-base;
$font-size-double: 2 * $font-size-base;
$font-size-triple: 3 * $font-size-base;

$page-h-padding-en: 10%;
$page-padding: $spacing-base;

$media-enhanced: "screen and (min-width: 1000px)";
$media-mobile: "screen and (max-width: 1000px)";

@import "mixins";

@import "layout";
@import "visibility";

@import "column";
@import "doormat";
@import "header";
@import "call-to-action";
@import "project";
