@import "reset";

@import url('https://fonts.googleapis.com/css?family=Lato|Londrina+Solid');

$red: #bd2132;
$black: #000;
$white: #fff;

$spacing-base: 1rem;
$spacing-double: 2 * $spacing-base;

@import "mixins";

@import "header";