.text {
  line-height: $text-line-height;
  margin: 0 auto;
  max-width: $text-width;
  padding: $spacing-base;
  text-align: justify;
}

.text__fullscreen {
  margin: 0;
  max-width: 100%;
  @media #{$media-enhanced} {
    padding: $page-padding $page-h-padding-en;
  }
}

.text--header {
  text-align: center;
  line-height: 1;
}

.text__p {
  padding-bottom: $spacing-half;
}

.text__p--emph {
  font-size: 1.2 * $font-size-base;
  font-weight: bold;
  text-align: left;
}
