.text {
  line-height: 1.5rem;
  margin: 0 auto;
  max-width: $text-width;
  padding: $spacing-base;
  text-align: justify;
}

.text__header {
  text-align: center;
}

.text__p {
  padding-bottom: $spacing-half;
}
